.cardResults {
  aspect-ratio: 484/744;
  background-image: url(/card.jpg);
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "triangle rectangle"
    "hexagon  circle";
  margin: 0 auto;
  max-block-size: 50vh;
  padding: 3rem 1rem;
  transform: rotateX(3deg) rotateY(-1deg) rotateZ(2deg);
}
