.cardResults {
  animation: cardFlip 0.3s;
  aspect-ratio: 484/744;
  background-image: url(/card.jpg);
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%);
  display: grid;
  font-size: clamp(0rem, 1rem, 1vh);
  gap: 1rem;
  grid-template-areas:
    "triangle rectangle"
    "hexagon  circle";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  max-block-size: 50vh;
  padding: clamp(0rem, 4rem, 6vh) 1rem;
  position: relative;
  transform: rotateX(3deg) rotateY(-1deg) rotateZ(2deg);
}

.summary {
  left: 50%;
  bottom: 1.2em;
  color: white;
  position: absolute;
  text-align: center;
  line-height: 1;
  transform: translateX(-40%);

  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
}

.summary output {
  font-family: var(--font-family-headers);
  font-size: 2.5em;
  text-shadow: 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000,
    -2px -2px 2px #000;
}

.summary div:last-child {
  line-height: 0.5;
}

@keyframes cardFlip {
  0% {
    transform: translateZ(3rem) translateX(-100%) rotateX(-5deg) rotateY(25deg)
      rotateZ(60deg);
  }
  100% {
    transform: translateZ(0) translateX(0) rotateX(3deg) rotateY(-1deg)
      rotateZ(2deg);
  }
}
