.app {
  box-shadow: 0 1rem 2rem hsla(28, 26%, 10%, 50%);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.appHeader {
  background-color: hsla(12, 58%, 28%, 0.8);
  color: hsla(28, 26%, 89%, 90%);
  margin-bottom: -0.5rem;
  padding: 1rem var(--spacing-5);
}

.appPage {
  background-color: hsla(28, 26%, 89%, 90%);
  border-radius: var(--border-radius-small);
  box-shadow: 0 -0.5rem 1rem hsla(28, 26%, 10%, 50%);
  padding: 1rem var(--spacing-5);
}
