.numberInput {
  font-size: 8rem;
  width: 12rem;
  display: block;
}

.numberIndicator {
  font-size: 8rem;

}

.resultIcon {
  display: inline-block;
}

.resultTable {
  border: 2px solid black;
}

.resultTable td {
  padding: 5px;
  border-top: 1px solid grey;
}

.stepButton {
  font-size: 3rem;
}